.upvotesDisplayContainer{
    width:100%;
    z-index: 100;
}
.upVotesContainer{
    width: 100%;
    padding:0px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}
.arrow{
    height: 100px;
    aspect-ratio: 2/3;
    z-index: 100;
}
