html{
    height:100%;
    width:100%;
}
a{
    text-decoration: none;
}
#mainQuestionsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    height:fit-content
}

#innerQuestionsContiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.questionOutermostContainer{
    padding-left: 85px;

}
.questionCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    box-shadow: 2px 2px rgba(0 0 0 / 0.2);
    color: black;
    text-decoration: none;
    z-index: -100;
}



.upvotesDisplayContainer,
.upVotesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-self: center;
    margin-left: 40px;
}

.questionCard:visited {
    color: black;
    text-decoration: none;
}

.responses{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green; */
}

.user_1Response, .user_2Response{
    height: 100%;
    width:50%;
    display: flex;
    flex-direction: column;
}


.user_1Response{
    /* border: 2px solid red; */
}

.user_2Response{
    /* border: 2px solid blue; */
}
