
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#root > ul{
    list-style: none;
}

.MainQuestionsBox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.MainPageContent{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.LeftMainDiv{
    display: flex;
    flex-direction: column;
    width:20%;
    align-items: center;
    align-self: top;
    position: sticky;

}
.RightMainDiv{
    display: flex;
    justify-content: space-around;
    width: 80%;
    top:0;
    left:0;
    padding-left: 200px;
}
.RightScrollingDiv{
    display: flex;
}
